<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align:center;color:darkgreen;font-style:italic;"><u>Registration</u></h1>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your username"><br><br>
    <input type="text" name="firstname" placeholder="Enter your firstname"><br><br>
    <input type="text" name="lastname" placeholder="Enter your lastname"><br><br>
    <input type="email" name="email" placeholder="Enter your email address"><br><br>
    <input type="password" name="password" placeholder="Enter your password"><br><br>
    <input type="password" name="cpassword" placeholder="Confirm your password"><br><br>
    <input type="submit" value="Submit">
</form>
{% for i in messages %}
<h3 style="text-align:center;">{{ i }}</h3>
{% endfor %}

</body>
</html>